body {
    font-family: Onest;
    background-color: #FA6E2D;
    color: #47FFED;
}

h1, h2, h3, h4, h5, h6{
    font-family:"Young Serif";
    font-size:30px;
}

h1 { 
    font-size:45px
}

header {
    text-align:center;
}

#hero, footer {
    background-color: #AD3700;
    text-align:center;
    padding: 10px;
    border: 5px solid;
}

#hero img {
    width: 350px;
}

#bio {
    text-align: center;
}

#hobbies ul li:nth-child(3n+1){
    color:#10AD9E;
}

#hobbies ul li:nth-child(3n+2){
    color:#47FFED;
}

#hobbies ul li:nth-child(3n){
    color:#96faf0;
}