body {
    font-family: Onest;
    background-color: #FA6E2D;
    color: #47FFED;
}

h1, h2, h3, h4, h5, h6{
    font-family:"Young Serif";
    font-size:35px;
    text-align:center;
}

h1 { 
    font-size:45px
}

header {
    text-align:center;
}

#hero, footer {
    background-color: #AD3700;
    text-align:center;
    padding: 10px;
    border: 5px solid #47FFED;
}

/*Hero Section*/

#hero img {
    width: 350px;
}

/*Bio Section*/

#bio {
    text-align: center;
}

/*Hobbies Section*/

#hobbies ul li:nth-child(3n+1){
    color:#10AD9E;
}

#hobbies ul li:nth-child(3n+2){
    color:#47FFED;
}

#hobbies ul li:nth-child(3n){
    color:#96faf0;
}

/*Gallery*/

#gallery{
    border: 5px solid #47FFED;
}

#gallery img{
    max-width:100%;
}

#gallery figure{
    text-align:center;
}

#gallery figcaption{
    float:left;
    padding-top:250px;
}

/*Lit Article*/

#lit{
    border: 5px solid #47FFED;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#lit div{
    padding:1em;
    max-width:50rem;
    margin: 0 auto;
    clear:both;
}

/*dropcaps*/

#lit div p:first-letter {
    color: rgb(8, 90, 0);
    background-image:linear-gradient(#FA6E2D,#AD3700);
    float:left;
    font-size:3em;
    padding: .25em;
    margin-right: .25em;
    line-height: .65;
    border: 3px solid black;
    border-color:rgb(0, 168, 22);
    border-top-left-radius: 15%;
    box-shadow:3px 3px 3px rgb(23, 51, 0);
    text-shadow:2px 2px 2px rgb(23, 51, 0);
}