body {
    font-family: Onest;
    background-color: #FA6E2D;
    color: #47FFED;
}

h1, h2, h3, h4, h5, h6{
    font-family:"Young Serif";
    font-size:35px;
    text-align:center;
}

h2 {
    margin: .1em;
}

h1 { 
    font-size:45px
}

header {
    text-align:center;
}

#hero, footer {
    background-color: #AD3700;
    text-align:center;
    padding: 10px;
    border: 5px solid #47FFED;
}

/*Hero Section*/

#hero img {
    width: 350px;
}

/*Bio Section*/

#bio {
    text-align: center;
}

/*Hobbies Section*/

#hobbies{
    display: flex; 
    flex-direction: column; 
    align-items: center;    
}

#hobbies ul li:nth-child(3n+1){
    color:#10AD9E;
}

#hobbies ul li:nth-child(3n+2){
    color:#47FFED;
}

#hobbies ul li:nth-child(3n){
    color:#96faf0;
}

/*Gallery*/

#gallery{
    border: 5px solid #47FFED;
}

#gallery img{
    max-width:100%;
}

#gallery figure{
    text-align:center;
}

#gallery figcaption{
    padding-top:10px;
}

/*Lit Article*/

#lit{
    border: 5px solid #47FFED;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#lit div{
    padding:1em;
    max-width:50rem;
    margin: 0 auto;
    clear:both;
}

/*dropcaps*/

#lit div p:first-child::first-letter {
    color: rgb(8, 90, 0);
    background-image:linear-gradient(#FA6E2D,#AD3700);
    float:left;
    font-size:3em;
    padding: .25em;
    margin-right: .25em;
    line-height: .65;
    border: 3px solid black;
    border-color:rgb(0, 168, 22);
    border-top-left-radius: 15%;
    box-shadow:3px 3px 3px rgb(23, 51, 0);
    text-shadow:2px 2px 2px rgb(23, 51, 0);
}

/*video section*/

#myVideo iframe{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

#myVideo{
    position:relative;
    padding-bottom:56.25%;
}

#video{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

figcaption{
    position:relative;
}

/*Contact Form*/

#formElements {
    display: grid;
}


/* Tablet Size */
@media screen and (min-width: 60em){

    figure{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }

    figure img{
        width: 100%;
    }

    #lit div {
        columns: 20rem;
        max-width:100%;
    }

}

/* Large Screen Size */
@media screen and (min-width: 100em){
    
    #gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr{
        display: none;
    }

    #gallery h2{
        grid-column: 1/-1;
    }

    figure{
        display: block;
    }